<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>About</title>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <h1>Welcome to Our Page</h1>

<p>On our website, you can find details of every single city bike and the prices in different countries. We provide descriptions of each company and the name of the bike they produce, along with the city and countries where they are available.</p>

<p>Each city bike can have multiple prices due to production in different countries, forming a one-to-many relationship. You can click on the "SHOW" button to see more details about the product and its price.</p>

<p>If you are searching for a specific product, you can use our search functionality. If it's available, you can definitely find it on our website.</p>

<p>Each city bike can have multiple prices due to production in different countries, forming a one to many relationship.</p>
<p>Each city bike can be found in many countries but one country can have many city bikes.</p>
<p>Each city bike’s price corresponds to one country but one country can have many different prices of the city bikes.</p>

<p>Dataset: <a href="http://api.citybik.es/v2/networks">http://api.citybik.es/v2/networks</a></p>


 <!--<img src="<%= asset_path('erd.jpg') %>" > -->
  </body>
</html>






