
    <%= render 'shared/navbar' %>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>Country:</strong> <%= @country.name %>
      </li>
      <li class="list-group-item">
        <strong>City Bikes:</strong>
        <% if @country.city_bikes.any? %>
          <ul>
            <% @country.city_bikes.each do |city_bike| %>
              <li><%= city_bike.name %> - <%= city_bike.company %></li>
            <% end %>
          </ul>
        <% else %>
          <p>No city bikes found for this country.</p>
        <% end %>
      </li>
    </ul>

